.container, .container-fluid {
  padding: 2em;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 1.3em !important;
}

#evolution-lines .select2 { margin-bottom: 5px; }
#evolution-lines .btn-group { width: 49% !important; }
#evolution-lines .btn-group button { width: 100% !important; margin-bottom: 5px; }
#evolution-lines .input-group { margin-bottom: 5px; }

#evolution-line-list .legend-color {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 6px;
  vertical-align: middle;
  border: 1px solid black;
}

#evolution-line-list .evolution-line {
  padding: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 18px;
}

#evolution-line-list .evolution-line-description {
  font-size: 10px;
  text-align: right;
}

.bootstrap-select .btn { font-size: inherit !important; }

.section-label {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 3px;
}

.linked-value { text-decoration: underline; }

#spinner {
  font-size: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -10px;
}

.linear-only, .exponential-only {
  display: none;
}
