/* dropdown style overrides */
.multiselect {
    border: transparent !important;
    padding: 6px 3px !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    max-width: 500px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.multiselect-container .filter { /* make the search bar stick to the top */
    position: sticky;
    z-index: 1;
    top: 5px;
}
.multiselect .caret { display: none; }
.multiselect-selected-text { text-decoration: underline; }
.multiselect-group-clickable label { text-decoration: underline; padding: 5px 5px 2px 5px; white-space: nowrap; }
.multiselect-group-clickable.all-selected label:after { content: " (all selected)"; }
.multiselect-container input[type="radio"] { display: none; }
.multiselect-container label.radio { padding-left: 10px; }
.multiselect-container .filter .input-group-addon { display: none; }

.panel-title, .panel-title:hover, .panel-title:focus {
    display: block;
    margin: -10px -15px;
    padding: 10px 15px;
    text-decoration: none;
    color: inherit;
}

/* Date range picker style overrides */
.daterangepicker .calendar { display: none !important; }
.daterangepicker .ranges ul li:last-child { display: none !important; }

/* Rangebar style overrides */
.elessar-rangebar {
    border-radius: 4px;
    background: #e6e6e6;
    box-shadow: inset 0 0 3px 0px rgba(0,0,0,0.5);
    height: 34px;
}
.elessar-range {
    background: #B6B6FC;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    height: 100%;
}

.busy-indicator {
    z-index: 999;
    display: table;
    position: fixed;
    top: 0; width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.busy-indicator > div {
    display: table-cell;
    vertical-align: middle;
    vertical-align: center;
    text-align: center;
    color: white;
}

/* MetricsGraphics style overrides */
.mg-x-axis .label:hover { cursor: pointer; }
.mg-x-axis text, .mg-y-axis text, .mg-histogram .axis text, .mg-baselines text, .mg-active-datapoint { font-size: 12px !important; }
.mg-line-legend text { font-size: 12px !important; }
.mg-marker-text { font-size: 12px !important; }
.mg-markers line { stroke-width: 2px !important; }
