header {
  height:             70px;
}

header h1{
  margin-top:         5px;
  padding:            15px;
}

#content {
  display:            none;
}

#spinner {
  font-size:          20px;
  position:           fixed;
  top:                50%;
  left:               50%;
  margin:             -10px 0 0 -10px;
}

#histogram-filter .bootstrap-select{
  margin-right:       4px;
}

.filter-version {
  width:  120px !important;
}

.filter-measure {
  width:  300px !important;
}

.filter-reason {
  width: 130px !important;
}

.filter-appName, .filter-OS, .filter-osVersion, .filter-arch {
  width: 100px !important;
}

.navbar-affix-top {
  border-radius: 0;
  z-index: 1030;
  right: 0px;
  left: 0px;
}
.affix {
  position:     fixed;
  top:            0px;
  border-width:   0 0 1px 0;
}
.affix-top  {
  position: absolute;
  top: 70px;
  border-width:   1px 0 1px 0;
}
.affix-bottom {}

#measure {
  text-overflow: ellipsis;
  overflow: hidden;
}

#histogram {
  height:       400px;
}

#evolution {
  height:       500px;
}

#histogram-table{
  display:      none;
}

#export-link{
  cursor: pointer;
}

.linear-only, .exponential-only {
  display: none;
}

#content.show-linear .linear-only {
  display:  initial;
}

#content.show-exponential .exponential-only {
  display:  initial;
}

.dl-horizontal hr{
  margin-top:     5px;
  margin-bottom:  5px;
  margin-left:    30px;
  margin-right:   30px;
}

.radio {
  margin-top:   0px;
  margin-left:  20px;
}

.checkbox {
  margin-top:   0px;
  margin-left:  20px;
}

.nvd3 .axis line {
  opacity: 0;
}

