
body {
    margin: 0px;
    padding: 0px;
}

.navbar i.fa {
    margin-right: 2px;
}

/* Fix the NavBar to the top of the page*/
.fixed-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}
/* Fixing the NavBar shifts the content up, so I added padding-top to the search-view to move it back to the original position */
#search-view {
  padding-top: 54px;
}

/* tbody, tr {
  display: table;
} */

/* .search-results-header { */
  /* Position:Sticky is not supported by Firefox:
    https://github.com/dollarshaveclub/stickybits/issues/143
    https://bugzilla.mozilla.org/show_bug.cgi?id=975644

    So I had to find some workarounds to make this search results header stick to the top of the page when it scrolls down.
    I have version 58.0.2 installed.
    We will need to support versions before 59, so we will not be able to use position: sticky; on its own
  */
  /* position: sticky;
  position: -webkit-sticky; */
/* } */

/* .search-results-header th {
  top: 0;
  z-index: 3;
  display: block;
  position: sticky;
  position: -webkit-sticky;
} */

.fixed {
    position: fixed;
    top: 0;
    left:0;
    padding-top: 52px;
    width: 100%;
    z-index: 4;
}

#github-banner img {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    z-index: 15;
}

#loading-overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
    filter: alpha(opacity=70);
    z-index: 14;
}

#loading-overlay .progress {
    width: 76%;
    /*height: 10%;*/
    height: 30px;
    position: absolute;
    top: 50%;
    left: 12%;
    border: 6px solid grey;
}

#loading-overlay .progress-bar {
    width: 100%;
    height: 100%;
}

#last-updated {
    color: rgba(255, 255, 255, 0.65);
    font-size: 80%;
}

#probe-filters {
    font-size: 90%;
}

#probe-filters .form-control {
    font-size: 90%;
}

#probe-detail-view {
    padding-top: 20px;
}

#detail-probe-name {
    display: inline;
}

#stats {
    font-style: italic;
    font-size: 90%;
    margin-bottom: 10px;
}

#measurements {
    padding-left: 0px !important;
}

#search-results-table {
    width: 100%;
}

#search-results-table td {
    cursor: pointer;
    white-space: nowrap;
}

.search-results-field-name,
.search-results-field-description {
    max-width: 400px;
    min-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#search-results-table tr th:first-child {
    background-color: white;
    border: none;
}

#search-results-table tr td:first-child {
    background-color: white;
    border: none;
}

.code {
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
    font-size: 85%;
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.table td.grow,
.table th.grow {
    white-space: nowrap;
    width: 100%;
}

.hidden {
    display: none;
}
