* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  margin: 1em 2em;
}
body, html {
  font-family: sans-serif;
  margin: 0;
  height: 100%;
  background: rgb(247, 249, 255);
}
header {
  line-height: 2em;
  padding-left: 10px;
  font-size: 17px;
  letter-spacing: -1px;
  display: flex;
  color: rgb(255, 204, 153);
  background: rgb(37, 39, 49);
}
footer {
  padding: 1em;
}
article {
  display: flex;
  width: 100%;
  flex-direction: column;
}
nav {
  padding-left: 10px;
  height: 35px;
  background: rgb(37, 39, 49);
  color: rgb(255, 204, 153);
  display: flex;
  white-space: nowrap;
  flex: 1;
  display:flex;
  align-items: center;
}
nav span {line-height: normal;}
section {
}
.plots{
  padding: 0em 1em 0em 1em;
}
select {
  margin: 0 2px 2px 2px;
  padding: 1px 0 2px 0;
  flex: 1;
}
.flex {
  width: 100%;
  flex: 1;
  padding: 1em;
}
.graph {
  width: 100%;
}
#main_chart {
  height: 100%;
}
#submissions {
  height: 30%;
}
#histogram {
  height: 100%;
}
#tooltip {
  white-space: nowrap;
  padding: 3px 8px;
  background:#fff;
  font-size:12px;
  position: absolute;
  display: none;
  background-color: rgb(257, 259, 265);
  color:  rgb(84, 84, 84);
  opacity: 0.9;
}
.graph {
  margin-bottom: 2em;
  height: 300px;
}
select {
  max-width:  50ex;
}
.info{
  font-size: 14px;
  padding: 10px;
}
#add-plot{
  right:    20px;
  position: absolute;
  cursor: pointer;
}
#add-plot:hover{
  text-decoration: underline;
}
