* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-width: 800px;
  min-height: 600px;
}

h1 {
  margin: 2px 10px;
}
h1 > .subhead {
  display: block;
  font-style: italic;
  font-weight: normal;
  font-size: smaller;
}

h2 {
  margin: 2px 10px;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.quadrant {
  flex: 1 1 0;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.graph {
  margin-top: 10px;
  flex: 1 1 0;
}

.updated {
  display: none;
  font-size: smaller;
  font-style: italic;
}

#legend {
  display: inline-block;
  float: right;
  margin: 2px 10px;
}
#legend > span {
  display: block;
}

#e10s-graph {
  position: relative;
}
#e10s-legend {
  position: absolute;
  left: 85px;
  top: 15px;
  background-color: rgba(255,255,255,0.5);
}