/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html, body {
    background-color: white;
    color: black;
    font-family: Verdana, sans-serif;
}

#header {
    margin: 30px auto 0px auto;
    font-size: 3em;
    text-align: center;
    text-transform: capitalize;
}

#subheader {
    margin: 0px auto;
    font-size: 2em;
    text-align: center;
}

#navbar {
    text-align: center;
    margin: 20px auto;
}

.options {
    display: inline-block;
    padding: 0px 20px;
    list-style: none;
}

.options li {
    display: inline-block;
    margin: 0px 10px;
}

.options li a {
    display: inline-block;
    padding: 10px 50px;
    text-decoration: none;
    color: black;
    border-bottom: solid 10px #f0f0f0;
}

.options li a:hover {
    background-color: #f0f0f0;
}

#tooltip {
    position: absolute;
    padding: 20px;
    color: white;
    background-color: black;
    border: solid 5px black;
    border-radius: 5px;
    z-index: 1;
    list-style: none;
    opacity: 0;
}

#graphs {
    position: relative;
}

.graph {
    width: 1000px;
    height: 620px;
    margin: auto;
}

#throbber {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
    z-index: 2;
}

#throbber-fg {
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

#throbber-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: -1;
}

#footer {
    margin-top: 50px;
}

.data {
    margin:0px;
    padding:0px;
    width:100%;
    border:1px solid #000000;
}
.data tr:nth-child(odd)  { background-color:#eee; }
.data tr:nth-child(even) { background-color:#fff; }
.data td {
    vertical-align:middle;
    border:1px solid #000000;
    text-align:left;
    padding:7px;
    font-size:10px;
    font-family:Arial;
    font-weight:normal;
}
.data th.header {
    background-image: url(bg.gif);
    border:1px solid #000000;
    cursor: pointer;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 20px;
    border-right: 1px solid #dad9c7;
    margin-left: -1px;
}

.up {
    color: #22c;
}
.down {
    color: #c22;
}
.new {
    color: #2c2;
}
.missing {
    color: #c0b159;
}

#week_nav {
    width: 100%;
    text-align: center;
}

.week_nav_button {
    margin: 20px;
    font-size: larger;
}

/* For colourizing the stacks */
li   { color: black; }
.c1  { background-color: #d3e7f2 }
.c2  { background-color: #ddf5be }
.c3  { background-color: #d0d0f0 }
.c4  { background-color: #e7dddd }
.c5  { background-color: #eeefe5 }
.c6  { background-color: #f5f0c2 }
.c7  { background-color: #c2f3fb }
.c8  { background-color: #f7ef7d }
.c9  { background-color: #f6e0fb }
.c10 { background-color: #eae5b3 }
.c11 { background-color: #daf3ea }
.c12 { background-color: #f8eda0 }
.c13 { background-color: #eefeca }
.c14 { background-color: #e8faa3 }
.c15 { background-color: #efe7d1 }
.c16 { background-color: #c1f6e9 }
.c17 { background-color: #f4dbf2 }
.c18 { background-color: #f6e08d }
.c19 { background-color: #defcc7 }
.c20 { background-color: #e1f986 }
.c21 { background-color: #edfcae }
.c22 { background-color: #eaf58a }
.c23 { background-color: #fadb94 }
.c24 { background-color: #e8dbdc }
.c25 { background-color: #e4eec7 }
.c26 { background-color: #f5d4b8 }
.c27 { background-color: #fef893 }
.c28 { background-color: #ffd1da }
.c29 { background-color: #eee7b2 }
.c30 { background-color: #dee5e6 }
.c31 { background-color: #e5e5f7 }
.c32 { background-color: #c1f9f6 }
.c33 { background-color: #e0e4e1 }
.c34 { background-color: #f9e8ec }
.c35 { background-color: #f6f7b1 }
.c36 { background-color: #e2ff6d }
.c37 { background-color: #fec6d3 }
.c38 { background-color: #fbfbf6 }
.c39 { background-color: #fdfb5e }
.c40 { background-color: #f0dfcc }
.c41 { background-color: #ffc2d6 }
.c42 { background-color: #fdfcf8 }
.c43 { background-color: #dedae9 }
.c44 { background-color: #fbfc7f }
.c45 { background-color: #f8dbcb }
.c46 { background-color: #eeffb2 }
.c47 { background-color: #f3dcdd }
.c48 { background-color: #fbea7f }
.c49 { background-color: #f5ebe2 }
.c50 { background-color: #ebf0ef }
.c51 { background-color: #eff8dc }
.c52 { background-color: #c6fcec }
.c53 { background-color: #dceebd }
.c54 { background-color: #f8d6ce }
.c55 { background-color: #d8ffa3 }
.c56 { background-color: #f5f375 }
.c57 { background-color: #f2dbe6 }
.c58 { background-color: #cbedf3 }
.c59 { background-color: #feffb3 }
.c60 { background-color: #f8f6ce }
.c61 { background-color: #f9e2df }
.c62 { background-color: #dbfcd7 }
.c63 { background-color: #fcdaa1 }
.c64 { background-color: #eaf7cd }
.c65 { background-color: #eccee0 }
.c66 { background-color: #e0efd7 }
.c67 { background-color: #ffd4cb }
.c68 { background-color: #cafacd }
.c69 { background-color: #d2f5d1 }
.c70 { background-color: #cdfee5 }
.c71 { background-color: #faf6d4 }
.c72 { background-color: #e1fbd1 }
.c73 { background-color: #f0f4fe }
.c74 { background-color: #effb73 }
.c75 { background-color: #e5fbb4 }
.c76 { background-color: #f7ff39 }
.c77 { background-color: #ecfa9b }
.c78 { background-color: #e5fe7c }
.c79 { background-color: #d7e1e8 }
.c80 { background-color: #fff296 }
.c81 { background-color: #e1ffae }
.c82 { background-color: #ffeca7 }
.c83 { background-color: #ddf7e0 }
.c84 { background-color: #fce1d7 }
.c85 { background-color: #c6f4eb }
.c87 { background-color: #fae88d }
.c88 { background-color: #f6dfde }
.c89 { background-color: #e7bddc }
