.view-section {
  display: inline-block;
  padding: 1em;
  vertical-align: top;
  height: 24em;
  overflow-y: auto;
  overflow-x: visible;
  padding-right: 24px;
}

.view-section p {
  max-width: 20em;
}

.view-section h3 {
  text-align: center;
}

.view-section table {
  text-align: right;
}

.view-section td {
  font-family: monospace;
}

.view-section th {
    text-align: right;
    padding-right: 1em;
    font-weight: bold;
}

.hidden {
  display: none;
}
.invisible {
  visibility: invisible;
}
.ib {
  display: inline-block;
}

.view-selector > tbody > tr:hover {
  background-color: #CCC;
}
.view-selector > tbody > tr.filtered {
  text-decoration: line-through;
}
.view-selector > tbody > tr.excluded {
  color: #999;
}

.view-value {
  padding-right: 1em;
  display: none;
}

tr.excluded > .view-pct {
  visibility: hidden;
}

.chart-container h3 {
  text-align: center;
}

#hover-details {
  position: absolute;
  border: 1px solid #b3b2b2;
  padding: 5px;
  width: 22em;
  background-color: white;
  z-index: 1;
}

#hover-details > h3 {
  font-size: 100%;
  font-weight: bold;
  color: #4040e8;
  clear: left;
  text-align: center;
  margin: 8px 0px;
}
#hover-details > dl {
  margin: 0;
}

#hover-details > dl > dt {
  float: left;
  clear: left;
  width: 11em;
  text-align: right;
  font-weight: bold;
  color: darkgray;
  padding-right: 5px;
}
#hover-details > dl > dd {
  margin: 0;
  padding: 0;
}

#view {
  font-size: large;
}

#view a {
  color: black;
  text-decoration: none;
}

#view .dropdown-toggle {
  margin: 0px 5px;
}
