.ib {
  display: inline-block;
}
.invisible {
  visibility: invisible;
}

.chart-container h3 {
  text-align: center;
}

#hover-details {
  position: absolute;
  border: 1px solid #b3b2b2;
  padding: 5px;
  width: 22em;
  background-color: white;
  z-index: 1;
}

#hover-details > h3 {
  font-size: 100%;
  font-weight: bold;
  color: #4040e8;
  clear: left;
  text-align: center;
  margin: 8px 0px;
}
#hover-details > dl {
  margin: 0;
}

#hover-details > dl > dt {
  float: left;
  clear: left;
  width: 11em;
  text-align: right;
  font-weight: bold;
  color: darkgray;
  padding-right: 5px;
}
#hover-details > dl > dd {
  margin: 0;
  padding: 0;
}

#view {
  font-size: large;
}

#view a {
  color: black;
  text-decoration: none;
}

#view .dropdown-toggle {
  margin: 0px 5px;
}
