.button {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
}

.button:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
}

/* Pseudo elements for icons */
.button:before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

/* Button 4 */
.button-4 {
    border-radius: 5px;
    border: 3px solid #fff;
    color: #fff;
    overflow: hidden;
    width: 90%;

}

.button-4:active {
    border-color: #eff3f4;
    color: #eff3f4;
}

.button-4:hover {
    background: #eff3f4;
    text-decoration: none;
}

.button-4:before {
    position: absolute;
    height: 100%;
    font-size: 125%;
    line-height: 3.5;
    color: #fff;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
}

.button-4:active:before {
    color: #17954c;
}

/* Button 4c */
.button-4c:before {
    left: 60%;
    opacity: 0;
    top: 0;
}

.button-4c:hover:before {
    left: 80%;
    opacity: 1;
}

.icon-arrow-right:before {
    content: "🢂";
    color: black;
}

.button a,
.button a:hover{
    text-decoration: none;

}
