/* Landing page styles */
.dashboard-list .list-group-item { font-size: 18px; }
.dashboard-list .list-group-item .dashboard-description { font-size: 12px; }
.dashboard-list .list-group-item .pipeline-label { font-size: 12px; float: right; }
.big-dashboard-list .list-group-item {
  font-size: 36px;
  background: #337AB7;
  color: white;
}
.big-dashboard-list .list-group-item:focus {
  font-size: 36px;
  background: #337AB7;
  color: white;
}
.big-dashboard-list .list-group-item:hover {
  background: #326AA7;
  color: white;
}
.big-dashboard-list .list-group-item .dashboard-description { font-size: 18px; }

.dashboard-list .list-group-item {
  border: none;
  border-top: 1px solid #ddd;
}
.dashboard-list .list-group-item:first-child { border-top: none; }

/* Dropdown style overrides */
.multiselect {
    border: transparent !important;
    padding: 6px 3px !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    max-width: 500px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.multiselect-container .filter { /* make the search bar stick to the top */
    position: sticky;
    z-index: 1;
    top: 5px;
}

/** Max Width Setting For e10s **/
#filter-e10s + .btn-group ul
{
    max-width: 10vw !important;
}

.multiselect .caret { display: none; }
.multiselect-selected-text { text-decoration: underline; }
.multiselect-group-clickable { border-top: 1px solid gray; }
.multiselect-group-clickable label { text-decoration: underline; padding: 5px 5px 2px 5px; white-space: nowrap; }
.multiselect-group-clickable.all-selected label:after { content: " (all selected)"; }
.multiselect-container input[type="radio"] { display: none; }
.multiselect-container label.radio { padding-left: 10px; }
.multiselect-container .filter .input-group-addon { display: none; }
.multiselect-container > .disabled { background: gray; height: 1px; margin: 5px 0; }
.multiselect-container > .disabled a { display: none; }
.multiselect-container li label {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* Advanced settings panel styles */
.panel-title, .panel-title:hover, .panel-title:focus {
    display: block;
    margin: -10px -15px;
    padding: 10px 15px;
    text-decoration: none;
    color: inherit;
}

/* Date range picker style overrides */
.daterangepicker .calendar { display: none !important; }
.daterangepicker .ranges ul li:last-child { display: none !important; }

/* Rangebar style overrides */
.elessar-rangebar {
    border-radius: 4px;
    background: #e6e6e6;
    box-shadow: inset 0 0 3px 0px rgba(0,0,0,0.5);
    height: 34px;
}
.elessar-range {
    background: #B6B6FC;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    height: 100%;
}

/* Busy indicator */
.busy-indicator {
    z-index: 1001;
    position: fixed;
    bottom: 0;
    width: 100%; height: 50px;
    background: rgba(0, 0, 0, 0.8);
    padding: 15px;
    color: white;
}
.busy-indicator .busy-indicator-progress {
    z-index: -1;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0; left: 0;
    width: 0; height: 100%;
}

/* Make the measure selector fixed in width */
#measure + * .multiselect-container { width: 600px; }

/* Make sure plots don't have any extra space at the bottom */
#plots h3 { margin-bottom: 0; }

/* MetricsGraphics style overrides */
.mg-x-axis .label, .mg-y-axis .label { text-transform: none !important; }
.mg-x-axis .label:hover { cursor: pointer; }
.mg-x-axis text, .mg-y-axis text, .mg-histogram .axis text, .mg-baselines text, .mg-active-datapoint { font-size: 12px !important; }
.mg-line-legend text { font-size: 12px !important; }
.mg-marker-text { font-size: 12px !important; }
.mg-markers line { stroke-width: 2px !important; }

.caption-div, .use-counter-div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 0;
  font-size: medium;
}

.overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

#dist-caption-link, #evo-caption-link, #use-counter-link {
  color : black;
  display: inline-block;
}

/* Error message styles */
.error-msg {
  border: 2px solid #C13832; /* Mozilla Red */
  background-color: #D7D3C8; /* Mozilla Sand */
  padding: 0.5em;
  color: #4D4E53; /* Mozilla charcoal */
  margin-bottom: 1em;
}
.error-msg:empty {
  display: none;
}

/* Histogram statistics */
.measure-headers, .measure-values {
  font-size: 0.8em;
}
.measure-values td {
  padding-left: 0.5em;
  text-align: right;
}
.measure-headers th {
  text-align: right;
}

/* Tabs for distribution and evolution views */
.nav-tabs a.active{
  color: black;
}

.nav-tabs a {
  color: #7A7A7A;
}
